<%= render "shared/header"%>
<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='container'>

  <%#= Form Title %>
  <div class='form-header col-md-6'>
    <h2 class='form-header-text' style="letter-spacing:.05em;">
      ログイン
    </h2>
  </div>

  <%#= Error %>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <%#= Mail %>
  <div class="form-item col-md-6">
    <label class="form-text">Mail Address</label>
    <%= f.email_field :email, class:"form-control", id:"email", placeholder:"kintai@sample.jp", autofocus: true, required:true %>
  </div>

  <%#= Password %>
  <div class="form-item col-md-6">
    <label class="form-text">Password</label>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"password", required:true %>
  </div>

  <%#= submit %>
  <div class='col-md-6'>
    <%= f.submit "ログイン" ,class:"btn btn-outline-success" %>
  </div>

</div><%#= /container %>
<% end %>
<%= render "shared/footer"%>