<!DOCTYPE html>
<html>
  <head>
    <title>Workbase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'getDay', defer: true %>
  </head>

  <body style='padding-top: 6em;padding-bottom:8em' >
    <%= yield %>
  </body>
</html>
